<mat-toolbar color="primary" class="mat-elevation-z6">
  <div class="logo">
    <img src="/assets/images/icons/icon-32x32.png" />
    <span>Weather PWA</span>
  </div>
  <span class="toolbar-space-filler"></span>
  <button mat-icon-button>
    <mat-icon>refresh</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>
<div class="weather-cards-container">
  <div *ngFor="let forecast of forecasts">
    <app-weather-card [forecast]="forecast"></app-weather-card>
  </div>
</div>
<router-outlet></router-outlet>
